/node_modules
.env

/client/node_modules
/client/.next

/client/node_modules
/client/package-lock.json
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
.env*.local

# vercel
/client/.vercel

